@font-face {
  font-family: fastup;
  src: url("../fonts/fastup/FastupSC-Regular.ttf");
}

:root {
  --color-primary: #ffcc00;
  --color-secondary: #ffa300;
  --color-text: #707789;
  --color-background: whitesmoke;

  --font-title: fastup;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--color-text);
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: var(--color-secondary);
}

nav img {
  margin: 25px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-title);
}

nav ul li a:hover {
  color: white;
}

main {
  background-color: var(--color-background);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

footer {
  width: 100vw;
  min-height: 50px;
  background-color: var(--color-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  color: var(--color-background);
}

footer ul li a {
  color: var(--color-background);
  text-decoration: none;
}

footer img {
  margin: 25px;
}

.about {
  display: flex;
  padding: 25px;
}

.about-content {
  width: 50vw;
  padding: 50px;
}

.photos {
  width: 60vw;
  margin: 25px;
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  gap: 10px;
}
