{% extends './layouts/base.html' %}

{% block title  %} Home {% endblock %}

{% block content %}
<h1>Roberto Ruiz - Photographer</h1>
<div class="about">
    <img src="https://picsum.photos/300/350" alt="" />
    <div class="about-content">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit iure temporibus ullam odio aperiam voluptates dignissimos quidem, recusandae consequuntur explicabo accusamus alias itaque molestiae magni! Distinctio est asperiores repellat illum.Photographer</p>
    </div>
</div>
{% endblock %}